body{
    background-color: black;
    color:white;
}
.side{
    display:flex;
    flex-direction: column;
}
.sideitem{
    padding: 20px;
}
.big{
    display: flex;
}
.nav{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    gap:100px;
    height: 60px;
}
 input[type="search"]{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: rgb(88, 18, 18);
 }
 .navitem2{
    gap: 5px;
    padding: 10px;
 }
 .navitem3{
    display: flex;
    gap: 10px;
 }
 .profile{
    width: 30px;
    border-radius: 50px;
    height: 30px;
    background-color: orange;
 }
 .options{
    display: flex;
    gap: 40px;
 }
 .options{
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(190, 15, 15);
    border-radius: 10px;
 }
 .main{
    display: flex;
    flex-direction: column;
 }
 .option:hover{
    cursor:pointer;
    background-color: white;
    color:black
 }